<div class="container">
    <div class="row">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" routerLink="/">DataBinding</a>
        </nav>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" routerLink="/event">EventBinding</a>
        </nav>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" routerLink="/template">TemplateReference</a>
        </nav>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" routerLink="/parent-child">Parent-Child</a>
        </nav>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" routerLink="/grid">Grid</a>
        </nav>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" routerLink="/dropdown">Dropdown</a>
        </nav>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>